<select name="appointmentBox" id="appointmentBox">
    <option *ngFor="let appointment of AppointmentTable" value="{{appointment.appointmentID}}">
      {{appointment.appointmentTime}}
    </option>
</select>

<br>
<br>
<button (click)="deleteSelectedAppointment()">Delete Selected Appointment</button>
<br>
<br>
<button (click)="goBack()">Go Back</button>      

<ul *ngFor="let appointment of AppointmentTable">
  
    <li>AdvisorId: {{appointment.advisorID}}</li>
    <li>StudentId: {{appointment.studentID}}</li>
    <li>AppointmentId: {{appointment.appointmentID}}</li>
    <li>Appointment Reason: {{appointment.appointmentReason}}</li>
    <li>Appointment Time: {{appointment.appointmentTime}}</li>
  </ul>