<select name="appointmentBox" id="appointmentBox">
    <option *ngFor="let appointment of AppointmentTable" value="{{appointment.appointmentID}}">
        <div *ngIf="this.appservice.getRole()=='advisor'">
            <div *ngIf="this.appservice.getId()==appointment.advisorID">
                {{appointment.appointmentTime}}
            </div>
        </div>
        <div *ngIf="this.appservice.getRole()=='student'">
          <div *ngIf="this.appservice.getId()==appointment.studentID">
              {{appointment.appointmentTime}}
          </div>
        </div>
    </option>
</select>

<br>
<br>
<button (click)="deleteSelectedAppointment()">Delete Selected Appointment</button>
<br>
<br>
<button (click)="goBack()">Go Back</button>      

<ul *ngFor="let appointment of AppointmentTable">
    <div *ngIf="this.appservice.getRole()=='advisor'">
      <div *ngIf="this.appservice.getId()==appointment.advisorID">
          <li>StudentId: {{appointment.studentID}}</li>
          <li>AppointmentId: {{appointment.appointmentID}}</li>
          <li>Appointment Reason: {{appointment.appointmentReason}}</li>
          <li>Appointment Time: {{appointment.appointmentTime}}</li>
      </div>
  </div>
  <div *ngIf="this.appservice.getRole()=='student'">
    <div *ngIf="this.appservice.getId()==appointment.studentID">
      <li>AdvisorId: {{appointment.advisorID}}</li>
      <li>AppointmentId: {{appointment.appointmentID}}</li>
      <li>Appointment Reason: {{appointment.appointmentReason}}</li>
      <li>Appointment Time: {{appointment.appointmentTime}}</li>
    </div>
  </div>
  </ul>