




<select>
    <option *ngFor="let appointment of AppointmentTable" value="">
      {{appointment.appointmentReason}}
    </option>
</select>

<ul *ngFor="let item of AppointmentTable">
  ______________________________________________________
  
  <li>AdvisorId: {{item.advisorID}}</li>
  <li>StudentId: {{item.studentID}}</li>
  <li>AppointmentId: {{item.appointmentID}}</li>
  <li>Appointment Reason: {{item.appointmentReason}}</li>
  <li>Appointment Time: {{item.appointmentTime}}</li>

</ul>


<button (click)="goBack()">Go Back</button>      