<div>
  <app-login (showChange)="changeShow($event)"></app-login>
</div>

<div class="homedetails" *ngIf="show=='home'">
    <app-homedetails (showChange)="changeShow($event)"></app-homedetails>
  </div>
<br>

<button *ngIf="show=='home'" (click)="showAddAppointment()">Add Apointments</button>
<div class="addappointment" *ngIf="show=='addappointment'">
    <app-addappointment (showChange)="changeShow($event)"></app-addappointment>
  </div>


<br>

<div class="appointments" *ngIf="show=='home'">
  <app-appointment-list></app-appointment-list> 

</div>



