
<div *ngIf="show=='login'">
  <app-login (showChange)="changeShow($event)"></app-login>
</div>
<div class="appointments" *ngIf="show=='home'">

  <app-appointment-card [appointment] = 'appointment1'></app-appointment-card>
  <app-appointment-card [appointment] = 'appointment2'></app-appointment-card>
  <app-appointment-card [appointment] = 'appointment3'></app-appointment-card>

  

</div>

<div class="homedetails" *ngIf="show=='home'">
  <app-homedetails (showChange)="changeShow($event)"></app-homedetails>
</div>

<div class="addappointment" *ngIf="show=='addappointment'">
    <app-addappointment (showChange)="changeShow($event)"></app-addappointment>
  </div>

<div class="editappointment" *ngIf="show=='editappointment'">
  <app-editappointment (showChange)="changeShow($event)"></app-editappointment>
</div>