<div class="appointment-card">
  <div class="appointment-id">
    <p>Appointment ID: {{appointment.appointmentID}}</p>
  </div>
  <div class="advisor-id">
    <p>Advisor ID: {{appointment.advisorID}}</p>
  </div>
  <div class="student-id">
    <p>Student ID: {{appointment.studentID}}</p>
  </div>
  <div class="appointment-reason">
    <p>Appointment Reason: {{appointment.appointmentReason}}</p>
  </div>
  <div class="appointment-time">
    <p>Appointment Time: {{appointment.appointmentTime}}</p>
  </div>
</div>