Time:
<select id="hourBox">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
</select>
:
<select id="minuteBox">
        <option value="00">00</option>
        <option value="30">30</option>
</select>

<select id="amOrPmBox">
        <option value="AM">AM</option>
        <option value="PM">PM</option>
</select>
<br>
Set Date(m/d/y): 
<select id="month">
  <option value="Jan">1</option>
  <option value="Feb">2</option>
  <option value="Mar">3</option>
  <option value="Jun">4</option>
  <option value="Jul">5</option>
  <option value="Apr">6</option>
  <option value="May">7</option>
  <option value="Aug">8</option>
  <option value="Sep">9</option>
  <option value="Oct">10</option>
  <option value="Nov">11</option>
  <option value="Dec">12</option>
</select>
<select id="day">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
  <option value="13">13</option>
  <option value="14">14</option>
  <option value="15">15</option>
  <option value="16">16</option>
  <option value="17">17</option>
  <option value="18">18</option>
  <option value="19">19</option>
  <option value="20">20</option>
  <option value="21">21</option>
  <option value="22">22</option>
  <option value="23">23</option>
  <option value="24">24</option>
  <option value="25">25</option>
  <option value="26">26</option>
  <option value="27">27</option>
  <option value="28">28</option>
  <option value="29">29</option>
  <option value="30">30</option>
  <option value="31">31</option>
</select>
<input id="year" type="text" name="year">

<form >
    Reason: <input id="reason" type="text" name="fname"><br>
    <div *ngIf="this.appservice.getRole()=='advisor'">Student ID: <input id="sID" type="text" name="sID"><br> <!--added for testing--></div>
    <div *ngIf="this.appservice.getRole()=='student'">Advisor ID: <input id="aID" type="text" name="aID"><br> <!--added for testing--></div>
    
    
  </form>

  <br>

<button (click)="add()">Add Appointment</button>

<br>

<button (click)="goBack()">Go Back</button>

<ul *ngFor="let appointment of currentAppointments">
  <div *ngIf="this.appservice.getRole()=='advisor'">
    <div *ngIf="this.appservice.getId()==appointment.advisorID">
        <li>StudentId: {{appointment.studentID}}</li>
        <li>AppointmentId: {{appointment.appointmentID}}</li>
        <li>Appointment Reason: {{appointment.appointmentReason}}</li>
        <li>Appointment Time: {{appointment.appointmentTime}}</li>
    </div>
</div>
<div *ngIf="this.appservice.getRole()=='student'">
  <div *ngIf="this.appservice.getId()==appointment.studentID">
    <li>AdvisorId: {{appointment.advisorID}}</li>
    <li>AppointmentId: {{appointment.appointmentID}}</li>
    <li>Appointment Reason: {{appointment.appointmentReason}}</li>
    <li>Appointment Time: {{appointment.appointmentTime}}</li>
  </div>
</div>
</ul>